@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin: 20px">
    @if (Request.IsAuthenticated)
    {
        Html.RenderAction("MyNotifications", "Home");
    }
</div>

<div>
    <h1>ITI E-Library System</h1>
</div>

